body {
	background:white;
	color:black;
	text-align: center;
	font-family: "Courier New";
}

.ControllingPanel {
	width : 30%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.ControllingPanel label {
	font-size:xx-large;
	font-weight: normal;
	padding: 15px;
	display: block;
	text-align: center;
}
label:hover{
	background-color: #7DADF3;
}
#result_box {
	font-family: "Courier New";
	font-size: 24px;
	overflow: hidden;
	width: 240px;
	height: 240px;
	resize: none;
}
#sudoku_panel{
	margin-left:30%;
}
#sudoku_table {
	position: relative;
}
#sudoku_canvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

.view {
	position: absolute;
    width: 45px;
    height: 45px;
}

.view:hover {
	cursor: pointer;
}

.view span {
	color: blue;
	font-size: 24px;
	line-height: 45px;
    display: inline-block;
}

.picker {
	position: absolute;
    width: 45px;
    height: 45px;
}

.picker-line {
    width: 45px;
    height: 15px;
}

.picker-unit {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.picker-unit:hover {
	cursor: pointer;
}