body {
	background:white;
	color:black;
}

.ControllingPanel {
	width : 30%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.ControllingPanel label {
	font-size:xx-large;
	font-weight: normal;
	padding: 15px;
	display: block;
	text-align: center;
}
label:hover{
	background-color: #7DADF3;
}
#result_box {
	font-family: "Courier New";
	font-size: 24px;
	overflow: hidden;
	width: 240px;
	height: 240px;
	resize: none;
}
.SudokuPanel{
	margin-left:30%;
}
#SudokuTable {
    margin-right: auto;
    margin-left: auto;
}

.ThreeByThreeTable {
    border: 2px solid #7DADF3;
}

.NumberBoard {
    padding: 17px 27px 17px 27px;
	font-size: xx-large;
	text-align: center;
    border: 2px solid gray;
}

.NumberPicker {
    border: 2px solid gray;
    background: lightgray;
}

.NumberPicker:hover {
    background: white;
}

.NumberPickerUnit {
    width: 20px;
    height: 20px;
    text-align: center;
}
.NumberPickerUnit:hover {
    background: #7DADF3;
}
